.dashboard-container{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr 1fr 1fr;
 height:fit-content;
}
.dashbord-title{
    padding: 5px;
}

.card-container{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}
.card-item{
    background-color: #e5dad4;
    color: rgb(0, 0, 0);
    padding: 15px;
   border-radius: 1rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}
.spending-statistics{
    padding: 1rem;
}
.spending-heading{
    display: flex;
    justify-content: space-between;
}
.spending-button{
display: flex;
gap: 0.5rem;
}
.spending-button button{
    width: 54px;
    height: 24px;
    border-radius: 0.3rem;
    cursor: pointer;
}
.latest-order{
    padding: 1rem;
}
.active-card{
    background-color: black;
    color: white;
}
