@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  
}

body{
  background:#e7e5e4;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  height: 100vh;
  
}


.container{
  display: grid;
  grid-template-columns: 200px 0fr 2fr 1fr;
  padding: 0 5px;
}
hr{
height: 100vh;
border: 1px solid rgb(248, 248, 250);
}
