@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body{
  background:#e7e5e4;
  font-family: 'Inter', sans-serif;
}
.container{
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}

.container{
  display: grid;
  grid-template-columns: 0.6fr 0fr 2fr 1fr;
  
}
hr{
height: 100%;
border: 1px solid rgb(248, 248, 250);
}